@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


/** -------------------------------- variables ------------------------------- **/


:root {
    --primary-color: #ffffff;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --text-dark: #0f172a;
    --white: #ffffff;
    --max-width: 1200px;
}


/** ------------------------------- navigation ------------------------------- **/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-inline: 15px;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-dark);
}


.section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-dark);
}


.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}


img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color)
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem
}

.nav__logo {
    max-width: 250px;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: auto;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--text-dark);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.link a:hover::after {
    width: 50%;
}

[data-section]>* {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s ease;
}

[data-section].active>* {
    opacity: 1;
    transform: translateY(0);
}



/** --------------------------------- header --------------------------------- */


.header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.bg__image {
    position: absolute;
    background-image: url("assets/bg2.jpg");
    height: 589px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header__blur {
    bottom: 5rem;
    right: 0;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--text-dark);
}

.header__content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--text-dark);
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--text-dark);
}

.header__image {
    position: relative;
}

.header__image img {
    max-width: 350px;
    margin: auto;
}

@keyframes header {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(20px);
    }
}

/** -------------------------------- workouts -------------------------------- */

.card {
    padding-inline: 25px;
    text-align: center;
}


.grid__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    list-style: none;
}


.card .card__icon {
    position: relative;
    background-color: #f7f5f3;
    max-width: max-content;
    margin-inline: auto;
    padding: 40px;
    border-radius: 50%;
    margin-block-end: 40px;
    overflow: hidden;
    transition: 0.25 ease;
    z-index: 1;
}

.card .card__icon::before,
.card .card__icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.25s ease;
    z-index: -1;
}

.card .card__icon::before {
    background-color: var(--secondary-color);
    transform: translateY(120px);
}


.card:is(:hover, :focus-within, .active) .card__icon::before {
    transform: translateY(0);
}

.card:is(:hover, :focus-within, .active) .card__icon::after {
    transform: translateY(120px);
}

.card .card__icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: 0.25 ease;
}

.card:is(:hover, :focus-within, .active) .card__icon img {
    filter: grayscale(1) brightness(0) invert(1);
}

.card:is(:hover, :focus-within, .active) .btn {
    opacity: 1;
}

#second_card:hover .btn,
#second_card .btn {
    opacity: 1;
}

.card .h3 {
    font-size: 1.5rem;
    color: black;
}

.card .card__title {
    transition: 0.25s ease;
    color: black;
}

.card .card__title:is(:hover, :focus) {
    color: #ffa200;

}

.card .card__text {
    font-size: 1.2rem;
    margin-block: 20px 35px;
}

.card .btn {
    margin-inline: auto;
    font-size: 18px;
    padding: 0;
    max-width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 2rem;
    opacity: 0;
}


/** ---------------------------------- nutrition --------------------------------- */
.nutrition__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.nutrition__image {
    position: relative;
}

.nutrition__image img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 1200px;
    border-radius: 5px;
}

.nutrition__content {
    padding: 0.5rem;
}

.nutrition__content .section__header {
    text-align: left;
    max-width: 400px;
}

.nutrition__content p {
    margin-bottom: 1.2rem;
    color: var(--text-dark);
}

/** ---------------------------------- video --------------------------------- */

.video {
    padding-block: 0;
    margin-block-end: -250px;
}

.video-card {
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    width: var(--max-width);
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
}

.video-card::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary-color-light);
    z-index: -1;
}

.video-card .card-title {
    color: var(--white);
    font-size: 2.5rem;
}

#fitnessVideo {
    border-radius: 20px;
    outline: 2px solid var(--secondary-color);
    margin-left: -80px;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    color: var(--white);
    width: max-content;
    font-size: 30px;
    padding: 25px;
    border-radius: 50%;
    margin-block: 25px 35px;
    animation: pulse 2s ease infinite;
    z-index: 1;
}


/* Rest of your existing styles */


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--secondary-color);
    }

    100% {
        box-shadow: 0 0 0 20px transparent;
    }
}

.btn-link {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.25s ease;
}

.btn-link::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    transition: 0.25s ease;
}


.btn-link:is(:hover, :focus) {
    --color: var(--secondary-color);
}
